__pycache__/
*.pyc
.venv/
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage
.claude-data/
.claude/settings.local.json
*.log
.vscode
.gemini
.geminiignore

# ESP-IDF build artifacts
build/
sdkconfig
sdkconfig.old
/log
/.devcontainer/devcontainer-lock.json
/AGENTS.md
/Dockerfile
/GEMINI.md
/docker-compose.yml
/plan.md
